@using ExamVoid.Models
@model Food

    <div class="container">
        @using (Html.BeginForm("UpdateTheItem", "Foodbite"))
        {
            <div class="form-group">
                <label for="a">Food item id</label>
                @Html.TextBoxFor(item => item.id, new { Class = "form-control" })
                
            </div>
            <div class="form-group">
                <label for="a">Food item Name</label>
                @Html.TextBoxFor(item => item.name, new { Class = "form-control" })
                
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Category</label>
                @Html.TextBoxFor(item => item.category, new { Class = "form-control" })

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Price</label>
                @Html.TextBoxFor(item => item.price, new { Class = "form-control" })

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Availablity</label>
                @Html.TextBoxFor(item => item.avail, new { Class = "form-control" })
            </div>
            <br />
            <button type="submit" style="width:100%" class="btn btn-info btn-block">Submit</button>
        }
    </div>

